{% extends 'base.html' %}
<!-- {
'form':form,
'project':project
} -->
{% block content %}
<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
        <div class="lh-100">
            <h5 class="mb-0 text-white lh-100"><a
                    href="{% url 'issueTracker:issues' project.slug %}">{{ project.project_name }}</a></h6>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <!-- <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6> -->
        <div class="media text-muted pt-3">
            <form class="site-form" action="{% url 'issueTracker:create_issue' project.slug %}" method="post"
                enctype="multipart/form-data">
                {% csrf_token %}
                <table border="0" class="table table-striped">
                    {{ form }}
                </table>
                <input type="submit" value="Create">
            </form>
        </div>
    </div>
</main>

{% endblock %}