{% extends 'base.html' %}

{% block content %}
    <div>
        {% if projects %}
            <ul>
                {% for project in projects %}
                    <li>
                        <a href="{% url 'issueTracker:issues' project.project_name %}">
                            {{ project.project_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No project yet, please create one.</p>
        {% endif %}
    </div>
{% endblock %}