{% extends 'base.html' %}
<!-- {
"issue":issue,
'project':project
} -->
{% block content %}
<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
        <div class="lh-100">
            <h5 class="mb-0 text-white lh-100"><a
                    href="{% url 'issueTracker:issues' project.slug %}">{{ project.project_name }}</a></h6>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">
            <a class="btn btn-light btn-block" href="{% url 'issueTracker:edit' project.slug issue.id %}"
                role="button">Edit</a>
        </h6>

        <div class="media text-muted pt-3 row">
            <div class="col-sm-3">
                <p class="d-block text-left font-weight-bold"> Title</p>
            </div>
            <div class="col-sm-9">
                <p class="d-block text-gray-dark text-left font-weight-bold">{{issue.title}}</p>
            </div>
        </div>
        <div class="media text-muted pt-3 row">
            <div class="col-sm-3">
                <p class="d-block text-left font-weight-bold"> Description</p>
            </div>
            <div class="col-sm-9">
                <p class="d-block text-left">{{issue.description}}</p>
            </div>
        </div>
        <div class="media text-muted pt-3 row">
            <div class="col-sm-3">
                <p class="d-block text-left font-weight-bold"> Created date</p>
                <p class="d-block text-left font-weight-bold"> Fixed date</p>
                <p class="d-block text-left font-weight-bold"> Acticity</p>
                <p class="d-block text-left font-weight-bold"> Created by</p>
                <p class="d-block text-left font-weight-bold"> Assigned to</p>
                <p class="d-block text-left font-weight-bold"> Status</p>
                <p class="d-block text-left font-weight-bold"> Priority</p>
            </div>
            <div class="col-sm-9">
                <p class="d-block text-left">{{issue.created_date}}</p>
                <p class="d-block text-left">{{issue.fixed_date}}</p>
                <p class="d-block text-left">{{issue.activity}}</p>
                <p class="d-block text-left">{{issue.created_by}}</p>
                <p class="d-block text-left">{{issue.assigned_to}}</p>
                <p class="d-block text-left">{{issue.get_status_display}}</p>
                <p class="d-block text-left">{{issue.get_priority_display}}</p>
            </div>
        </div>
        <small class="d-block text-right mt-3">
            <a href="#">...</a>
        </small>
    </div>
</main>
{% endblock %}