{% extends 'base.html' %}

{% block content %}
<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
        <h3>signup here</h3>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <!-- <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6> -->
        <div class="media text-muted pt-3">
            <form class="site-form" action="{% url 'accounts:signup' %}" method="post"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Create">
            </form>
        </div>
    </div>
</main>
{% endblock %}